.aboutUs-page .aboutUsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.aboutUs-page .aboutUsContent h1 {
  margin-bottom: 20px;
  font-size: 5.4rem;
  color: var(--primary-color);
  width: 70%;
  text-align: center;
}

.aboutUs-page .aboutUsContent span {
  width: 80%;
  height: 2px;
  background-color: var(--primary-color);
  margin-bottom: 30px;
}

.aboutUs-page .aboutUsContent p {
  width: 70%;
}

.aboutUs-page .aboutUsContent p a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.aboutUs-page .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs-page .footer p {
  margin-bottom: 20px;
}

.aboutUs-page .footer .social-medias > a {
  margin-right: 20px;
}